<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Chuck Norris Joke Page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <p class="text-info">
                    <button type="button" class="btn btn-danger" onClick="window.location.reload();">Next Jokes</button>&nbsp;
                    <b>Chuck Norris Jokes</b>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 th:text="${chuckJokes}">Text for jokes.</h4>
            </div>
            <div class="form-group has-error has-feedback">
                <div class="input-group">
                    <span class="input-group-addon">Upcoming Joke : </span>
                    <div type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status"><span th:text="${chuckJokes2}">Text for joke.</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>